#ctx{
    border: 2px solid black;
    display: none;
}

#lobbyTable{
    border: 1px solid black;
}

#lobbyTable td, #lobbyTable th{
    text-align: center;
    border: 1px solid black;
}

#backButton{
    display: none;
}

#playerBox{
    display: none;
}

#player1{
    background-color: red;
    text-align: center;
}

#player2{
    background-color: yellow;
    text-align: center;
}

#player3{
    background-color: rgb(0, 68, 255);
    text-align: center;
}

#player4{
    background-color: rgb(175, 3, 175);
    text-align: center;
}