html{
    overflow: hidden !important;
}

#ctx{
    border: 2px solid black;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#lobbyTable{
    border: 1px solid black;
}

#lobbyTable td, #lobbyTable th{
    text-align: center;
    border: 1px solid black;
}

#backButton{
    display: none;
}

#readyUpWindow{
    display: none;
    position: fixed;
    width: max(30%, 180px);
    height: 25%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

#player1, #player2, #player3, #player4{
    font-size: 20px;
    text-align: left;
}

#answerBox{
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0px; 
}

#answerA{
    background-image: linear-gradient(white -500%, rgb(255, 30, 0) 200%);
    width: 100%;
    height: 70px;
    text-align: center;
}

#answerB{
    background-image: linear-gradient(white -500%, rgb(0, 162, 255) 200%);
    width: 100%;
    text-align: center;
    height: 70px;
}

#answerC{
    background-image: linear-gradient(white -500%, rgb(255, 238, 0) 200%);
    text-align: center;
    width: 100%;
    height: 70px;
}

#answerD{
    background-image: linear-gradient(white -500%, rgb(2, 201, 18) 200%);
    text-align: center;
    width: 100%;
    height: 70px;
}

#countdowntimer{
    display: none;
    white-space: nowrap;
    overflow: hidden;
    font-size: 60px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
