html {
  overflow: hidden !important;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.backgroundCar {
  position: absolute;
  top: 0;
  left: -50%;
  display: block;
  width: 10%;
  height: auto;
  z-index: -1;
}

#backgroundCar0 {
  top: 8%;
  -webkit-filter: hue-rotate(250deg);
  filter: hue-rotate(250deg);
  -webkit-animation: moving 5s ease 15s infinite;
  animation: moving 5s ease 15s infinite;
}

#backgroundCar1 {
  top: 16%;
  -webkit-filter: hue-rotate(18deg);
  filter: hue-rotate(180deg);
  -webkit-animation: moving 6s ease-in 9s infinite;
  animation: moving 6s ease-in 9s infinite;
}

#backgroundCar2 {
  top: 24%;
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(70deg);
  -webkit-animation: moving 6.4s linear 12s infinite;
  animation: moving 6.4s linear 12s infinite;
}

#backgroundCar3 {
  top: 32%;
  -webkit-animation: moving 8s ease-out 10s infinite;
  animation: moving 8s ease-out 10s infinite;
}

#backgroundCar4 {
  top: 40%;
  -webkit-filter: hue-rotate(200deg);
  filter: hue-rotate(200deg);
  -webkit-animation: moving 4.6s ease 5s infinite;
  animation: moving 4.6s ease 5s infinite;
}

#backgroundCar5 {
  top: 48%;
  -webkit-filter: hue-rotate(300deg);
  filter: hue-rotate(300deg);
  -webkit-animation: moving 4s ease-in 10s infinite;
  animation: moving 4s ease-in 10s infinite;
}

#backgroundCar6 {
  top: 56%;
  -webkit-filter: hue-rotate(120deg);
  filter: hue-rotate(120deg);
  -webkit-animation: moving 6s ease-out 9s infinite;
  animation: moving 6s ease-out 9s infinite;
}

#backgroundCar7 {
  top: 64%;
  -webkit-filter: hue-rotate(250deg);
  filter: hue-rotate(250deg);
  -webkit-animation: moving 3.5s ease 10s infinite;
  animation: moving 3.5s ease 10s infinite;
}

#backgroundCar8 {
  top: 72%;
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
  -webkit-animation: moving 3s ease-in 6s infinite;
  animation: moving 3s ease-in 6s infinite;
}

#backgroundCar9 {
  top: 80%;
  -webkit-filter: hue-rotate(70deg);
  filter: hue-rotate(70deg);
  -webkit-animation: moving 9s linear 11s infinite;
  animation: moving 9s linear 11s infinite;
}

#backgroundCar10 {
  top: 88%;
  -webkit-animation: moving 15s ease-out 0s infinite;
  animation: moving 15s ease-out 0s infinite;
}

#backgroundCar11 {
  top: 96%;
  -webkit-filter: hue-rotate(200deg);
  filter: hue-rotate(200deg);
  -webkit-animation: moving 10.5s ease 10s infinite;
  animation: moving 10.5s ease 10s infinite;
}

#backgroundCar12 {
  top: 104%;
  -webkit-filter: hue-rotate(300deg);
  filter: hue-rotate(300deg);
  -webkit-animation: moving 10s ease-in 6s infinite;
  animation: moving 10s ease-in 6s infinite;
}

@-webkit-keyframes moving {
  from {
    left: -20%;
  }
  to {
    left: 110%;
  }
}

@keyframes moving {
  from {
    left: -20%;
  }
  to {
    left: 110%;
  }
}

#title {
  margin-left: auto;
  margin-right: auto;
}

#playersOnline {
  margin-left: auto;
  margin-right: auto;
  margin-top: -8px;
  margin-bottom: 20px;
}

#lobbyTable {
  border: 1px solid black;
  width: 95%;
  overflow: hidden;
}

#lobbyTable #host {
  overflow: hidden;
  width: 23%;
}

#lobbyTable #capacity {
  overflow: hidden;
  width: 19%;
}

#lobbyTable #category {
  overflow: hidden;
  width: 20%;
}

#lobbyTable #join {
  overflow: hidden;
  width: 18%;
}

#lobbyTable td, #lobbyTable th {
  text-align: center;
  border: 1px solid black;
  word-break: break-all;
}

#backButton {
  display: none;
}

#readyUpWindow {
  display: none;
  position: fixed;
  width: 65%;
  height: 37%;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}

#scoreToWin {
  font-size: 10px;
  width: 20%;
  text-align: center;
}

#player1, #player2, #player3, #player4 {
  text-align: left;
}

#answerBox {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

#answer0 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-500%, white), color-stop(200%, #ff1e00));
  background-image: linear-gradient(white -500%, #ff1e00 200%);
  width: 100%;
  height: 70px;
  text-align: center;
}

#answer1 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-500%, white), color-stop(200%, #00a2ff));
  background-image: linear-gradient(white -500%, #00a2ff 200%);
  width: 100%;
  text-align: center;
  height: 70px;
}

#answer2 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-500%, white), color-stop(200%, #ffee00));
  background-image: linear-gradient(white -500%, #ffee00 200%);
  text-align: center;
  width: 100%;
  height: 70px;
}

#answer3 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-500%, white), color-stop(200%, #02c912));
  background-image: linear-gradient(white -500%, #02c912 200%);
  text-align: center;
  width: 100%;
  height: 70px;
}

#countdowntimer {
  z-index: 1;
  display: none;
  white-space: nowrap;
  overflow: hidden;
  font-size: 50px;
  position: fixed;
  top: 39%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: white;
  font-weight: bold;
}

#stopwatch {
  display: none;
  white-space: nowrap;
  overflow: hidden;
  font-size: 50px;
  position: fixed;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: white;
  font-weight: bold;
}

body {
  background-color: #2c3347;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

table {
  background-color: whitesmoke;
}

table tr, table td, #readyUpWindow {
  color: black;
}

th {
  font-weight: normal;
}

select {
  width: 90%;
  padding-left: 0;
  padding-right: 0;
}

#categorySelect {
  padding: 0;
  margin: 0;
  width: 40%;
}

#playerList {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

#playerList li {
  float: left;
  width: 25%;
  color: white;
  text-align: center;
}

#carList {
  list-style: none;
  border: 2px solid black;
  border-top: none;
  height: 90%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#carList li {
  float: left;
  width: 25%;
  height: 100%;
  background-image: url("images/road.jpg");
  background-position: top;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#carList li img {
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 90px;
}

#finishLineBox {
  width: 100%;
  height: 9%;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}

#finishLine {
  background-size: contain;
  background-repeat: repeat;
  border: 2px solid black;
  border-bottom: none;
  border-top: none;
  width: 100%;
  height: 100%;
}

#chooseName {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

#lobbyTable, #lobbyTableTitle, #homeButtons {
  margin-left: auto;
  margin-right: auto;
}

#question {
  display: none;
  background-color: whitesmoke;
  border: 4px solid black;
  border-radius: 10px;
  color: black;
  height: 25%;
  text-align: center;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}

.drive {
  opacity: 1;
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%);
  -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.7s;
  transition: opacity 0.2s ease-out, -webkit-transform 0.7s;
  transition: opacity 0.2s ease-out, transform 0.7s;
  transition: opacity 0.2s ease-out, transform 0.7s, -webkit-transform 0.7s;
}

#racetrack {
  display: none;
  height: 73%;
}

.highlight {
  color: #0af70a;
  font-size: 22px;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#numOfRounds {
  width: 30px;
  height: 20px;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#winner {
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
  display: none;
  white-space: nowrap;
  overflow: hidden;
  font-size: 70px;
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: gold;
  font-weight: bold;
  z-index: 5;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro {
  position: relative;
  display: none;
  z-index: 2;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 193px -243.66667px #ffe600, 184px -374.66667px #00fbff, 1px -174.66667px #00ff15, 64px 25.33333px #e600ff, -188px 83.33333px #e100ff, 218px -110.66667px #84ff00, 80px -414.66667px #ff9d00, 76px -347.66667px #00ff11, 124px 57.33333px #ff1e00, -137px -106.66667px #ffa600, 228px -320.66667px #0400ff, -29px -395.66667px #ff001e, 126px -109.66667px #ffee00, 18px -156.66667px #ff0062, 21px -331.66667px #00ff1a, -91px -189.66667px #2b00ff, 96px -239.66667px #9d00ff, 236px 32.33333px #00ff44, 125px -26.66667px #006aff, 166px -66.66667px #00ffae, -232px -91.66667px #ffc400, -236px -57.66667px #ffc400, -149px -149.66667px #00ff15, -79px 53.33333px #00ff40, -74px -169.66667px #ffbb00, -11px -263.66667px #9500ff, -169px -311.66667px #00ff9d, -80px -40.66667px #ffe100, -33px -127.66667px #ff1e00, 157px 43.33333px #004dff, -55px -378.66667px #ff8000, -192px -105.66667px #0084ff, -25px -197.66667px #00fff2, -26px -157.66667px #3cff00, 147px -412.66667px #ff3700, -199px -142.66667px #00ff37, 70px -63.66667px #c8ff00, -202px -26.66667px #ee00ff, 15px 71.33333px #d500ff, 54px -333.66667px #00ff22, -213px -299.66667px #00ff8c, 38px -389.66667px #00ddff, 138px -129.66667px magenta, 109px -237.66667px #ff00fb, 169px -237.66667px #88ff00, 182px -185.66667px #00ff95, -181px -136.66667px #00aeff, -104px -232.66667px #6200ff, -246px -135.66667px #00fffb, -227px 56.33333px #ff0084, 151px -283.66667px #f700ff;
            box-shadow: 193px -243.66667px #ffe600, 184px -374.66667px #00fbff, 1px -174.66667px #00ff15, 64px 25.33333px #e600ff, -188px 83.33333px #e100ff, 218px -110.66667px #84ff00, 80px -414.66667px #ff9d00, 76px -347.66667px #00ff11, 124px 57.33333px #ff1e00, -137px -106.66667px #ffa600, 228px -320.66667px #0400ff, -29px -395.66667px #ff001e, 126px -109.66667px #ffee00, 18px -156.66667px #ff0062, 21px -331.66667px #00ff1a, -91px -189.66667px #2b00ff, 96px -239.66667px #9d00ff, 236px 32.33333px #00ff44, 125px -26.66667px #006aff, 166px -66.66667px #00ffae, -232px -91.66667px #ffc400, -236px -57.66667px #ffc400, -149px -149.66667px #00ff15, -79px 53.33333px #00ff40, -74px -169.66667px #ffbb00, -11px -263.66667px #9500ff, -169px -311.66667px #00ff9d, -80px -40.66667px #ffe100, -33px -127.66667px #ff1e00, 157px 43.33333px #004dff, -55px -378.66667px #ff8000, -192px -105.66667px #0084ff, -25px -197.66667px #00fff2, -26px -157.66667px #3cff00, 147px -412.66667px #ff3700, -199px -142.66667px #00ff37, 70px -63.66667px #c8ff00, -202px -26.66667px #ee00ff, 15px 71.33333px #d500ff, 54px -333.66667px #00ff22, -213px -299.66667px #00ff8c, 38px -389.66667px #00ddff, 138px -129.66667px magenta, 109px -237.66667px #ff00fb, 169px -237.66667px #88ff00, 182px -185.66667px #00ff95, -181px -136.66667px #00aeff, -104px -232.66667px #6200ff, -246px -135.66667px #00fffb, -227px 56.33333px #ff0084, 151px -283.66667px #f700ff;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: 193px -243.66667px #ffe600, 184px -374.66667px #00fbff, 1px -174.66667px #00ff15, 64px 25.33333px #e600ff, -188px 83.33333px #e100ff, 218px -110.66667px #84ff00, 80px -414.66667px #ff9d00, 76px -347.66667px #00ff11, 124px 57.33333px #ff1e00, -137px -106.66667px #ffa600, 228px -320.66667px #0400ff, -29px -395.66667px #ff001e, 126px -109.66667px #ffee00, 18px -156.66667px #ff0062, 21px -331.66667px #00ff1a, -91px -189.66667px #2b00ff, 96px -239.66667px #9d00ff, 236px 32.33333px #00ff44, 125px -26.66667px #006aff, 166px -66.66667px #00ffae, -232px -91.66667px #ffc400, -236px -57.66667px #ffc400, -149px -149.66667px #00ff15, -79px 53.33333px #00ff40, -74px -169.66667px #ffbb00, -11px -263.66667px #9500ff, -169px -311.66667px #00ff9d, -80px -40.66667px #ffe100, -33px -127.66667px #ff1e00, 157px 43.33333px #004dff, -55px -378.66667px #ff8000, -192px -105.66667px #0084ff, -25px -197.66667px #00fff2, -26px -157.66667px #3cff00, 147px -412.66667px #ff3700, -199px -142.66667px #00ff37, 70px -63.66667px #c8ff00, -202px -26.66667px #ee00ff, 15px 71.33333px #d500ff, 54px -333.66667px #00ff22, -213px -299.66667px #00ff8c, 38px -389.66667px #00ddff, 138px -129.66667px magenta, 109px -237.66667px #ff00fb, 169px -237.66667px #88ff00, 182px -185.66667px #00ff95, -181px -136.66667px #00aeff, -104px -232.66667px #6200ff, -246px -135.66667px #00fffb, -227px 56.33333px #ff0084, 151px -283.66667px #f700ff;
            box-shadow: 193px -243.66667px #ffe600, 184px -374.66667px #00fbff, 1px -174.66667px #00ff15, 64px 25.33333px #e600ff, -188px 83.33333px #e100ff, 218px -110.66667px #84ff00, 80px -414.66667px #ff9d00, 76px -347.66667px #00ff11, 124px 57.33333px #ff1e00, -137px -106.66667px #ffa600, 228px -320.66667px #0400ff, -29px -395.66667px #ff001e, 126px -109.66667px #ffee00, 18px -156.66667px #ff0062, 21px -331.66667px #00ff1a, -91px -189.66667px #2b00ff, 96px -239.66667px #9d00ff, 236px 32.33333px #00ff44, 125px -26.66667px #006aff, 166px -66.66667px #00ffae, -232px -91.66667px #ffc400, -236px -57.66667px #ffc400, -149px -149.66667px #00ff15, -79px 53.33333px #00ff40, -74px -169.66667px #ffbb00, -11px -263.66667px #9500ff, -169px -311.66667px #00ff9d, -80px -40.66667px #ffe100, -33px -127.66667px #ff1e00, 157px 43.33333px #004dff, -55px -378.66667px #ff8000, -192px -105.66667px #0084ff, -25px -197.66667px #00fff2, -26px -157.66667px #3cff00, 147px -412.66667px #ff3700, -199px -142.66667px #00ff37, 70px -63.66667px #c8ff00, -202px -26.66667px #ee00ff, 15px 71.33333px #d500ff, 54px -333.66667px #00ff22, -213px -299.66667px #00ff8c, 38px -389.66667px #00ddff, 138px -129.66667px magenta, 109px -237.66667px #ff00fb, 169px -237.66667px #88ff00, 182px -185.66667px #00ff95, -181px -136.66667px #00aeff, -104px -232.66667px #6200ff, -246px -135.66667px #00fffb, -227px 56.33333px #ff0084, 151px -283.66667px #f700ff;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

#resultsWindow {
  display: none;
  position: fixed;
  width: 70%;
  margin-top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  text-align: center;
  z-index: 5;
  padding-bottom: 10px;
}

#resultsHeader {
  font-weight: bold;
  font-size: 15px;
}

#resultsCol {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
  margin: 0;
}

#resultsRow {
  width: 100%;
  padding: 0;
  margin: 0;
}

#resultsColLeft {
  width: 70%;
  height: 100%;
  display: inline-block;
}

#resultsColRight {
  width: 30%;
  height: 100%;
  margin-top: 2px;
}

.medal {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  margin-left: 20px;
  float: left;
}

#firstPlace {
  margin-top: 3px;
  color: gold;
  font-size: 23px;
  font-weight: bold;
  margin-left: 5px;
  float: left;
}

#secondPlace {
  margin-top: 3px;
  color: silver;
  font-size: 23px;
  font-weight: bold;
  margin-left: 5px;
  float: left;
}

#thirdPlace {
  margin-top: 3px;
  color: #CD7F32;
  font-size: 23px;
  font-weight: bold;
  margin-left: 5px;
  float: left;
}

#firstPlaceScore, #secondPlaceScore, #thirdPlaceScore {
  font-size: 23px;
  color: #05eb05;
  font-weight: bold;
}

.scoreBase {
  font-size: 23px;
  font-weight: bold;
}

#chatForm {
  text-align: center;
  outline: none;
}

#chatMessage {
  width: 85%;
  outline: none;
}

#chatContent {
  padding-left: 5px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  width: 85%;
  height: 17%;
  overflow-y: scroll;
}

#nameInput, #nameButton {
  outline: none;
}

#nameMsg {
  text-align: center;
  margin-top: 5px;
}

#nameSpinner {
  margin-left: auto;
  margin-right: auto;
  display: none;
  left: 50%;
}

#nameTaken {
  display: none;
  color: red;
  width: 100%;
}

#nameChanged {
  display: none;
  color: #09ff00;
  width: 100%;
}

#stoplight {
  z-index: 1;
  position: fixed;
  top: 51%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #2c3e50;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0;
  height: 70px;
  width: 200px;
  border: 1px solid black;
}

.circle {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: relative;
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.circle::after {
  border-right: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  content: ' ';
  position: absolute;
  top: 5px;
  left: 0px;
  width: 30px;
  height: 30px;
}

.circle.red {
  background-color: #c0392b;
  -webkit-box-shadow: 0 0 20px 5px #c0392b;
          box-shadow: 0 0 20px 5px #c0392b;
}

.circle.yellow {
  background-color: #f1c40f;
  -webkit-box-shadow: 0 0 20px 5px #f1c40f;
          box-shadow: 0 0 20px 5px #f1c40f;
}

.circle.green {
  background-color: #2ecc71;
  -webkit-box-shadow: 0 0 20px 5px #2ecc71;
          box-shadow: 0 0 20px 5px #2ecc71;
}

#readyUpTable {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  margin-top: 10px;
}

#readyUpTable td, #readyUpTable th, #readyUpTable tr {
  border: 1px solid black;
  text-align: center;
}

#increment, #decrement {
  font-size: 10px;
  font-weight: bold;
}

#areYouReady {
  margin-top: 2px;
  margin-bottom: 0px;
}

#p1ReadyUp, #p2ReadyUp, #p3ReadyUp, #p4ReadyUp {
  margin-left: auto;
  margin-right: auto;
}

.systemMsg {
  color: #38be03;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.blink_me {
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */